mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  padding-left: 3vw;
  padding-right: 3vw;
}

.content-wrapper > button {
  height: 40px;
  width: 140px;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.container {
  width: 400px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}

mat-card{
  background-color: rgb(240, 240, 240);
}